{% extends "layout.html" %}
{% block body %}
    <main class="contenedor-app">
        <div class="imagen"></div>

        <div class="app">
            <h1>Sube tu PDF</h1>
            <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
                <div class="file-upload">
                    <label for="file" class="file-upload-label">
                        <i class="fas fa-upload"></i>
                        <span class="file-upload-text">Seleccionar Archivo</span>
                    </label>
                    <input type="file" id="file" name="file" accept=".pdf" required>
                </div>
                <button type="submit" class="btn btn-primary">Subir</button>
            </form>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
{% endblock %}
