<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Nissan Connect Finder</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo-ai.png') }}" >
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Acerca de</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main class="contenedor-app">
        <div class="imagen"></div>

        <div class="app">
            <h1>Sube tu PDF</h1>
            <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
                <div class="file-upload">
                    <label for="file" class="file-upload-label">
                        <i class="fas fa-upload"></i>
                        <span class="file-upload-text">Seleccionar Archivo</span>
                    </label>
                    <input type="file" id="file" name="file" required>
                </div>
                <button type="submit" class="btn btn-primary">Subir</button>
            </form>
        </div>
    </main>

    <footer class="footer">
        <p>&copy; Todos los derechos reservados.</p>
    </footer>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
