<!-- templates/signed.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento Firmado Exitosamente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo-ai.png') }}" alt="Logo">
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Acerca de</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <div class="success-container">
        <h2>¡Documento firmado exitosamente!</h2>
    </div>
    <!-- Pie de página -->
    <footer class="footer">
        <p>&copy;Todos los derechos reservados.</p>
    </footer>
</body>